<Footer>
    <div class="f-info fixed-bottom">
        <div class="f-info-icon">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="f-info-brand">&copy; WanderLast private limited</div>
        <div class="f-info-links">
            <a href="#">privacy</a>
            <a href="#">term</a>
        </div>
    </div>
</Footer>